.container {
  width: 100%;
  background-color: #231e1e;
  padding: 128px 0;
}

.content {
  margin: auto;
  max-width: 1056px;
}

.quotationMark {
  margin-bottom: 68px;
}

.text {
  max-width: 948px;
  color: #f1f0f0;
  font-size: 24px;
  line-height: 40px;
  width: 948px;
  text-align: left;
  margin-bottom: 96px;
}

.author {
  color: #989898;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
}
